body {
    background-color: rgb(13, 0, 126);
}
#title {
    text-align:center;
    color:rgb(0, 118, 126)
    
}
#calcContainer {
    background-color: cadetblue;
    margin: auto;
    width: 50vmin;
    min-width: 280px;
    height: 70vmin;
    min-height: 400px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr;
    gap: .5% .5%;
    grid-template-areas:
        'disp disp disp disp'
        '. . . .'
        '. . . .'
        '. . . .'
        '. . . .'
        'zero zero . .';
}

#displayBox {
    grid-area: disp;
    display: block;   
    text-align: right;
    background-color: azure;
    padding-top: 5%;
    padding-right: 5%;
}
/* can still type in too many characters */
#upperDisplay{ 
    font-size: 2vmin;
    overflow: hidden;
}

#lowerDisplay{
    font-size: 8vmin;
    overflow: hidden;
    
}

#zero { 
    grid-area: zero; 
}


